<div class="container body-content py-3">

    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-secondary rounded box-shadow">
        <span class="mr-3 icon ion-md-cloud-download h1"></span>
        <div class="lh-100 flex-grow-1">
            <h6 class="mb-0 text-white lh-100">{{::vm.translate.get('Theme Details')}}</h6>
            <small>themes for the frontend</small>
        </div>
        <a ui-sref="themes" class="btn btn-primary"><i class="icon ion-md-cloud-done"></i> {{::vm.translate.get('View Installed Themes')}}</a>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" ng-src="{{vm.theme.thumbnailUrl}}">
                <div class="card-body">
                    <h5 class="card-title">{{vm.theme.name}}</h5>
                    <ul class="list-unstyled">
                        <li>Publisher: {{vm.theme.publisher}}</li>
                        <li>Price: Free</li>
                        <li>Package size: {{(vm.theme.packageSize / 1024 /1024).toFixed(2)}} MB</li>
                        <li>Target version: {{vm.theme.simplCommerceVersion}}</li>
                    </ul>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button"
                                    ng-if="!vm.theme.isInstalled"
                                    ng-click="vm.installTheme(vm.theme.name)"
                                    class="btn btn-primary">
                                Install
                            </button>

                            <button type="button" disabled="disabled" ng-if="vm.theme.isInstalled"
                                    class="btn btn-primary">
                                Installed
                            </button>

                        </div>
                        <!--
                        <small class="text-muted">9 mins</small>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4 class="mt-3" ng-if="vm.theme.description">Description</h4>
    <p ng-if="vm.theme.description">{{vm.theme.description}}</p>


    <h4 class="mt-3">Screenshots</h4>

    <div class="row">
        <div class="col-md-4" ng-repeat="imgUrl in vm.theme.screenshotUrls">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" ng-src="{{imgUrl}}">
            </div>
        </div>
    </div>

    <!--
    <div class="row">
        <div ng-repeat="imgUrl in vm.theme.screenshotUrls" class="col-md-4">
            <img class="img-responsive" ng-src="{{imgUrl}}" />
        </div>
    </div>
    -->

</div>