<div class="container body-content py-3">

    <div class="card">
        <div class="card-header d-flex align-items-center">
            <span style="" class="mr-3 icon ion-md-copy h1"></span>
            <div class="lh-100 flex-grow-1">
                <h4 class="mb-0 lh-100 ng-binding">{{::vm.translate.get('Menus')}}</h4>
                <small class="text-muted">List menus</small>
            </div>
            <a ui-sref="menus-create" class="btn btn-primary"><i class="icon ion-md-add"></i> {{::vm.translate.get('Create Menu')}}</a>
        </div>
        <div class="card-body p-0 table-responsive">

            <table class="table table-striped m-0">
                <thead>
                    <tr>
                        <th scope="col">{{::vm.translate.get('Name')}}</th>
                        <th scope="col">IsSystem</th>
                        <th scope="col" class="text-center">{{::vm.translate.get('Is Published')}}</th>
                        <th scope="col">{{::vm.translate.get('Actions')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="menu in vm.menus">
                        <td>{{menu.name}}</td>
                        <td>{{menu.isSystem}}</td>
                        <td class="text-center"><i ng-attr-class="{{menu.isPublished && 'fa fa-circle' || 'far fa-circle'}}"></i></td>
                        <td>
                            <a ui-sref="menus-edit({id: menu.id})" title="Edit" class="btn btn-primary btn-xs"> <span class="icon ion-md-create"></span></a>
                            <button ng-click="vm.deleteMenu(menu)" class="btn btn-danger btn-xs delete"> <span class="icon ion-md-close"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>