<div class="container body-content py-3">

    <div class="card">
        <div class="card-header d-flex align-items-center">
            <span style="" class="mr-3 icon ion-md-copy h1"></span>
            <div class="lh-100 flex-grow-1">
                <h4 ng-if="!vm.isEditMode" class="mb-0 lh-100 ng-binding">{{::vm.translate.get('Create Page')}}</h4>
                <h4 ng-if="vm.isEditMode" class="mb-0 lh-100 ng-binding">{{::vm.translate.get('Edit Page')}}</h4>
            </div>
        </div>
        <div class="card-body">

            <form name="pageForm" class="form-horizontal">
                <div class="col-sm-offset-2 bg-danger" ng-show="vm.validationErrors">
                    <ul>
                        <li ng-repeat="error in vm.validationErrors">{{error}}</li>
                    </ul>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">{{::vm.translate.get('Name')}}</label>
                    <div class="col-sm-10">
                        <input name="name" ng-model="vm.page.name" ng-change="vm.updateSlug()" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Url</label>
                    <div class="col-sm-10">
                        <input name="slug" ng-model="vm.page.slug" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">{{::vm.translate.get('Meta Title')}}</label>
                    <div class="col-sm-10">
                        <input name="metaTitle" ng-model="vm.page.metaTitle" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">{{::vm.translate.get('Meta Keywords')}}</label>
                    <div class="col-sm-10">
                        <textarea name="metaKeywords" ng-model="vm.page.metaKeywords" class="form-control" rows="2"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">{{::vm.translate.get('Meta Description')}}</label>
                    <div class="col-sm-10">
                        <textarea name="metaDescription" ng-model="vm.page.metaDescription" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">{{::vm.translate.get('Body')}}</label>
                    <div class="col-sm-10">
                        <summernote id="summernote" on-image-upload="vm.imageUpload(files)" editor="vm.body" ng-model="vm.page.body"></summernote>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" ng-click="vm.save()">
                            <i class="icon ion-md-checkmark"></i> {{::vm.translate.get('Save')}}
                        </button>
                        <button ui-sref="page" class="btn btn-default">{{::vm.translate.get('Cancel')}}</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
