<div class="container body-content py-3">

    <div class="card">
        <div class="card-header d-flex align-items-center">
            <span style="" class="mr-3 icon ion-md-copy h1"></span>
            <div class="lh-100 flex-grow-1">
                <h4 class="mb-0 lh-100 ng-binding">{{::vm.translate.get('Pages')}}</h4>
                <small class="text-muted">List pages</small>
            </div>
            <a ui-sref="page-create" class="btn btn-primary"><i class="icon ion-md-add"></i> {{::vm.translate.get('Create Page')}}</a>
        </div>
        <div class="card-body p-0 table-responsive">

            <table class="table table-striped m-0">
                <thead>
                    <tr>
                        <th scope="col">{{::vm.translate.get('Name')}}</th>
                        <th scope="col">Url</th>
                        <th scope="col" class="text-center">{{::vm.translate.get('Is Published')}}</th>
                        <th scope="col">{{::vm.translate.get('Actions')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="page in vm.pages">
                        <td>{{page.name}}</td>
                        <td>{{page.slug}}</td>
                        <td class="text-center"><i ng-attr-class="{{page.isPublished && 'fa fa-circle' || 'far fa-circle'}}"></i></td>
                        <td>
                            <a ui-sref="page-edit({id: page.id})" title="Edit" class="btn btn-primary btn-xs"> <i class="icon ion-md-create"></i></a>
                            <button ng-click="vm.deletePage(page)" class="btn btn-danger btn-xs delete"> <i class="icon ion-md-close"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

