<?xml version="1.0" encoding="utf-8"?>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
<configuration>
  <configSections>    
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <add NAME="DEV" USER="Integra" PASSWD="semp2018" CLIENT="200" SYSID="SHD" LANG="PT" ASHOST="SV-DEV-SEMP05" SYSNR="02" MAX_POOL_SIZE="10" IDLE_TIMEOUT="600"/>
          <add NAME="QAS" USER="Integra" PASSWD="semp2018" CLIENT="410" SYSID="SHQ" LANG="PT" ASHOST="SV-QA-SEMP01" SYSNR="02" MAX_POOL_SIZE="10" IDLE_TIMEOUT="600"/>
          <add NAME="PRD" USER="Integra" PASSWD="semp2018" CLIENT="500" SYSID="SHP" LANG="PT" ASHOST="SV-PRD-SEMP01" SYSNR="01" MAX_POOL_SIZE="10" IDLE_TIMEOUT="600"/>

          <add NAME="DEFAULT" USER="Integra" PASSWD="semp2018" CLIENT="500" SYSID="SHP" LANG="PT" ASHOST="SV-PRD-SEMP01" SYSNR="01" MAX_POOL_SIZE="10" IDLE_TIMEOUT="600"/>

        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>

  <system.web>
    <customErrors mode="On" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" startupTimeLimit="3600" requestTimeout="23:00:00" />
  </system.webServer>
</configuration>