<div class="container body-content py-3">

    <div class="card">
        <div class="card-header d-flex align-items-center">
            <span style="" class="mr-3 icon ion-md-copy h1"></span>
            <div class="lh-100 flex-grow-1">
                <h4 class="mb-0 lh-100 ng-binding">{{::vm.translate.get('Widget Instances')}}</h4>
                <small class="text-muted">List Widget</small>
            </div>

            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon ion-md-add"></i> {{::vm.translate.get('Create Widget')}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a ng-repeat="widget in vm.widgets" class="dropdown-item" ui-sref="{{widget.createUrl}}">{{widget.name}}</a>                    
                </div>
            </div>

        </div>
        <div class="card-body p-0 table-responsive">
            <table class="table table-striped m-0">
                <thead>
                    <tr>
                        <th>{{::vm.translate.get('Name')}}</th>
                        <th>{{::vm.translate.get('Widget Type')}}</th>
                        <th>{{::vm.translate.get('Widget Zone')}}</th>
                        <th>{{::vm.translate.get('Publish Start')}}</th>
                        <th>{{::vm.translate.get('Publish End')}}</th>
                        <th>{{::vm.translate.get('Display Order')}}</th>
                        <th>{{::vm.translate.get('Actions')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="instance in vm.widgetInstances">
                        <td>{{instance.name}}</td>
                        <td>{{instance.widgetType}}</td>
                        <td>{{instance.widgetZone}}</td>
                        <td>{{instance.publishStart | date:'medium'}}</td>
                        <td>{{instance.publishEnd | date:'medium'}}</td>
                        <td>{{instance.displayOrder}}</td>
                        <td>
                            <a ui-sref="{{instance.editUrl}}({id: instance.id})" title="Edit" class="btn btn-primary btn-sm"> <i class="icon ion-md-create"></i></a>
                            <button ng-click="vm.deleteWidgetInstance(instance)" class="btn btn-danger btn-sm delete"> <i class="icon ion-md-close"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>